.star-wars {
  background-image: linear-gradient(transparent, #000000 70%), url("https://media.contentapi.ea.com/content/dam/walrus/news-article-images/november/header_phasma_social.jpg.img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: block;
  overflow: hidden;
  justify-content: center;
  position: relative;
  height: 500px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 150%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 200px;
  text-align: justify; }

.crawl {
  position: relative;
  top: -1000px;
  transform-origin: 50% 100%;
  animation: crawl 160s linear; }

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(10deg) translateZ(0); }
  100% {
    top: -6000px;
    transform: rotateX(10deg) translateZ(-2500px); } }

@media (max-width: 400px) {
  .crawl {
    transform-origin: 50% 25%; } }
