.card {
  border: yellow solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
}

.favorited {
  background-color: magenta;
}

.favorites {
  background-color: magenta;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.people {
  border: purple solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.planets {
  border: blue solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.vehicles {
  border: green solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}