.nav-section {
  display: flex;
  flex-direction: column;
}

.nav-category {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

button {
  border: #FFFFFF 2px solid;
  color: #FFFFFF;
  font-size: 1em;
  background-color: #000000;
  padding: 0.75em 2em;
}

button:hover {
  background: #41b9e1;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked~.remove-check {
  display: none;
}

.btn {
  background: none;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  display: none;
  text-align: center;
  margin: 0;
  padding: 10px 20px 11px;
  text-decoration: none;
}

.btn:hover {
  background: #41b9e1;
}

@media (max-width: 400px) {
  .nav-section {
    width: 160px;
  }

  #nav-category {
    display: none;
  }

  .nav-category-links {
    display: block;
  }

  .nav-category-btns {
    width: 100%;
  }

  .btn {
    display: inline-block;
  }

  input[type=checkbox]:checked~#nav-category {
    display: block;
  }
}